<div>
    <h1>{{title}}</h1>
    <h2><p><i>Everthing About Me</i></p><h2>
    <p><h3>
        <b>Name :</b> Anish Gandhi<br/>
        <b>Date OF Birth :- </b>September 13' 1995 <br/>
        <b>Qualificatians :-<br/></b> Diploma in Computer Engineering<br/>
                        Bachelors in Computer Science and Technology<br/>
                        post Graduation in Computer Programmer<br/>
        <b>Some Of the Languages That i Have worked on</b>
        <ul>
            <li>Asp.net</li>
            <li>C#</li>
            <li>Android Development</li>
            <li>Swift</li>
            <li>Java</li>
        </ul>
    </p></h3>
</div>