<div>
        <h1>{{title}}</h1>
        <h2>
            <p><b>Contact Email :-</b> 200369535@student.georgianc.on.ca</p>
            <p><b>Personal Contact Email :-</b> anishgandhi25@gmail.com</p>
            <p><b>Contact Phone :-</b> 705-790-8259</p>
        </h2>
</div>