<div>
    <h1>{{title}}</h1>
    <h2>Some of the Projects That i have worked on</h2><br/>
    <p>
        <b><h3>(1) E-Warehouse Managment System with fingerprint 
        and barcode identifcation on .net platform</b></h3>
    </p><br/>

    <p>
        <b><h3>(2) Home Automation System on IoT Technolgy</b></h3>
    </p><br/>

    <p>
        <b><h3>(3) Digital Shopping store with Asp.Net Technology</b></h3>
    </p>

    <p><h1>Currently Working On</h1>
        <b><h3>(4) My Portfolio with Express.js hbs Template Technology</b></h3>
    </p>

</div>